<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }} | Helmet Heroes Wiki</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/index.css') }}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Startseite</a></li>
             <li><a href="#">Weapons</a>
                <ul>
                    <li><a href="/warrior_weapons">Warrior Weapons</a></li>
                    <li><a href="/archer_weapons">Archer Weapons</a></li>
                    <li><a href="/mage_weapons">Mage Weapons</a></li>
                    <li><a href="/cowboy_weapons">Cowboy Weapons</a></li>
                </ul>
             </li>
            <li><a href="#">Helmets</a>
                <ul>
                    <li><a href="/warrior_helmets">Warrior Helmets</a></li>
                    <li><a href="/archer_helmets">Archer Helmets</a></li>
                    <li><a href="/mage_helmets">Mage Helmets</a></li>
                    <li><a href="/cowboy_helmets">Cowboy Helmets</a></li>
                </ul>
             </li>
            <li><a href="#">Armor</a>
                <ul>
                    <li><a href="/warrior_armor">Warrior Armor</a></li>
                    <li><a href="/archer_armor">Archer Armor</a></li>
                    <li><a href="/mage_armor">Mage Armor</a></li>
                    <li><a href="/cowboy_armor">Cowboy Armor</a></li>
                </ul>
             </li>
            <li><a href="#">Pants</a>
                <ul>
                    <li><a href="/warrior_pants">Warrior Pants</a></li>
                    <li><a href="/archer_pants">Archer Pants</a></li>
                    <li><a href="/mage_pants">Mage Pants</a></li>
                    <li><a href="/cowboy_pants">Cowboy Pants</a></li>
                </ul>
             </li>
            <li><a href="#">Shoes</a>
                <ul>
                    <li><a href="/warrior_shoes">Warrior Shoes</a></li>
                    <li><a href="/archer_shoes">Archer Shoes</a></li>
                    <li><a href="/mage_shoes">Mage Shoes</a></li>
                    <li><a href="/cowboy_shoes">Cowboy Shoes</a></li>
                </ul>
             </li>
        </ul>
    </nav>

    <div class="main">
        <div class="page-header">
            <h1><b>Helmet Heroes Reborn Wiki</b></h1>
            <img src="{{ url_for('static', filename='/images/helmet-heroes.png') }}" alt="Helmet Heroes Main Image">
        </div>
        <div class="page-content">
            <div class="content">
                <table class="content-table">
                    <tr class="content-table-header">
                        {% for header in headers %}
                            <th><b>{{ header }}</b></th>
                        {% endfor %}
                    </tr>
                    {% for item in items %}
                        <tr class="content-table-row">
                            {% for key in item %}
                                <td><img src="{{ item[key] }}" alt="Image"/></td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</body>
</html>
