<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }} | Helmet Heroes Wiki</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/index.css') }}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Startseite</a></li>
             <li><a href="equipment.html">Weapons</a>
                <ul>
                    <li><a href="#">Warrior Weapons</a></li>
                    <li><a href="#">Archer Weapons</a></li>
                    <li><a href="#">Mage Weapons</a></li>
                    <li><a href="#">Cowboy Weapons</a></li>
                </ul>
             </li>
            <li><a href="#">Helmets</a>
                <ul>
                    <li><a href="#">Warrior Helmets</a></li>
                    <li><a href="#">Archer Helmets</a></li>
                    <li><a href="#">Mage Helmets</a></li>
                    <li><a href="#">Cowboy Helmets</a></li>
                </ul>
             </li>
            <li><a href="equipment.html">Armor</a>
                <ul>
                    <li><a href="#">Warrior Armor</a></li>
                    <li><a href="#">Archer Armor</a></li>
                    <li><a href="#">Mage Armor</a></li>
                    <li><a href="#">Cowboy Armor</a></li>
                </ul>
             </li>
            <li><a href="equipment.html">Legs</a>
                <ul>
                    <li><a href="#">Warrior Legs</a></li>
                    <li><a href="#">Archer Legs</a></li>
                    <li><a href="#">Mage Legs</a></li>
                    <li><a href="#">Cowboy Legs</a></li>
                </ul>
             </li>
            <li><a href="equipment.html">Shoes</a>
                <ul>
                    <li><a href="#">Warrior Shoes</a></li>
                    <li><a href="#">Archer Shoes</a></li>
                    <li><a href="#">Mage Shoes</a></li>
                    <li><a href="#">Cowboy Shoes</a></li>
                </ul>
             </li>
        </ul>
    </nav>

    <div class="main">
        <div class="page-header">
            <h1><b>Helmet Heroes Reborn Wiki</b></h1>
            <img src="{{ url_for('static', filename='/images/helmet-heroes.png') }}" alt="Helmet Heroes Main Image">
        </div>
        <div class="page-content">
            <div class="content">
                <table class="content-table">
                    <tr class="content-table-header">
                        {% for header in headers %}
                            <th><b>{{ header }}</b></th>
                        {% endfor %}
                    </tr>
                    {% for item in items %}
                        <tr class="content-table-row">
                            {% for key in item %}
                                <td>{{ item[key] }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</body>
</html>
